<div class="aluno-form-flex">
<mat-card >
    <mat-toolbar color="primary-dark">{{alunoId?'Editar Aluno':'Cadastrar Aluno'}}</mat-toolbar>
    <mat-card-content>
      <form class="example-form" [formGroup]="form">
        <mat-form-field class="example-full-width">
          <mat-label>Aluno</mat-label>
          <input matInput formControlName="nome" placeholder="Nome">
        </mat-form-field>
        
        <mat-form-field class="example-full-width">
          <mat-label>Data Inicio</mat-label>
          <input
          matInput
          [matDatepicker]="dataInicio"
          formControlName="dataInicio"
          placeholder="Data Inicio"
          >
        <mat-datepicker-toggle matSuffix [for]="dataInicio"></mat-datepicker-toggle>
        <mat-datepicker #dataInicio></mat-datepicker>
      </mat-form-field>
        <!-- <mat-form-field class="example-full-width">
            <mat-label>Data Inicio</mat-label>
            <input matInput formControlName="dataInicio" placeholder="Data Inicio">
          </mat-form-field> -->
          
          <mat-form-field class="example-full-width">
            <mat-label>CPF</mat-label>
            <input matInput formControlName="cpf" placeholder="CPF">
          </mat-form-field>
          
          <mat-form-field class="example-full-width">
            <mat-label>RG</mat-label>
            <input matInput formControlName="rg" placeholder="RG">
          </mat-form-field>
          
          <mat-form-field class="example-full-width">
            <mat-label>Endereço</mat-label>
            <input matInput formControlName="endereco" placeholder="Endereço">
          </mat-form-field>
          
           
          <mat-form-field class="example-full-width">
            <mat-label>Data de Nascimento</mat-label>
            <input
            matInput
            [matDatepicker]="dataNascimento"
            formControlName="dataNascimento"
            placeholder="Data de Nascimento"
            >
          <mat-datepicker-toggle matSuffix [for]="dataNascimento"></mat-datepicker-toggle>
          <mat-datepicker #dataNascimento></mat-datepicker>
        </mat-form-field>
                 
          <mat-form-field class="example-full-width">
            <mat-label>Telefone</mat-label>
            <input matInput formControlName="telefone" placeholder="Telefone">
          </mat-form-field>
          
          <mat-form-field class="example-full-width">
            <mat-label>Obs</mat-label>
            <input matInput formControlName="observacaoes" placeholder="Observaçaoes">
          </mat-form-field>
          
          <mat-form-field class="example-full-width">
            <mat-label>Objetivo</mat-label>
            <input matInput formControlName="objetivo" placeholder="Objetivo">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Plano</mat-label>
            <mat-select formControlName="pacoteId"> 
              <mat-option *ngFor="let pacote of pacotes" [value]="pacote.id">
                {{pacote.nome}}
              </mat-option>
            </mat-select>
          </mat-form-field>
         
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="save()">Salvar</button>
      <button mat-raised-button (click)="cancel()" >Cancel</button>
    </mat-card-actions>
  </mat-card>
</div>