<mat-toolbar color="primary"
             *ngIf="isLoggedIn$ | async">
  <!-- <span>
    <img src="assets/img/logo.png"
         class="angular-logo">
  </span> -->
  <span class="fill-remaining-space"></span>
  <button mat-button
          routerLink="alunos">+ Aluno</button>
  <button mat-button
          routerLink="financeiro">Financeiro</button>
  <button mat-button
          routerLink="treinos">Treinos</button>
  <button mat-button
          routerLink="avaliacao-fisica">Avaliação física</button>
  <button mat-button
          routerLink="dieta-nutricional">Dieta Nutricional</button>
  <button mat-button
          (click)="onLogout()">Logout</button>
</mat-toolbar>
